{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Purple Admin</title>
  <!-- plugins:css -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'master/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'master/css/materialize.min.css' %}">
  <link rel="stylesheet" href="{% static 'master/js/materialize.min.js' %}">
  <link rel="stylesheet" href="{% static 'master/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'master/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'master/images/favicon.png' %}" />



  <style> 
#imga{
  margin: auto;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}
</style>





</head>

<body>






<br><br>
<br><br>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <div class="row center">
        <img id="imga" src="{% static 'master/imagens/globo.jpg' %}" alt="" style="width:200px;">
      </div>

      <h4 class="header center orange-text">Sistema de Geolocalização de ATM gerenciados pela EMIS</h1>
      <div class="row center">
        <h6 class="header col s12 light">Nunca foi tão fácil encontrar um multicaixa com dinheiro</h5>
      </div>

      <div class="row center">
      
      

        <a href="#" onclick="getLocation()" id="download-button" class="btn-large waves-effect waves-light orange pulse">Encontrar</a>
      </div>
      <br><br>

    </div>
  </div>





<p id="demo"></p>
<p id="demo2"></p>







   <form class="pt-3" method="POST" style="display: none;" enctype="multipart/form-data">{% csrf_token %}
                {{form.as_p}}
              <input type="submit" name="" value="Cadastrar">
              </form>




<script>
const x = document.getElementById("demo");

function getv(){
y.innerHTML="silvano rosa" + b;

}

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}
    
function showPosition(position) {
    x.innerHTML="Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;
    document.getElementById("id_latitude").value=position.coords.latitude
    document.getElementById("id_longitude").value=position.coords.longitude
    var formsCollection = document.getElementsByTagName("form");
    formsCollection[0].submit();
    
}





</script>


</body>

</html>

